$font-size: 14px;
$font-family: 'Apple SD Gothic Neo', sans-serif;

$bp-tb: 768px; 
$bp-pc: 1024px;

$color: #000;
$dark: #282828;
$white: #fff;
$blue: #3f50b5;

$gray: #f7f7f7;
$graya: #f1f1f1;
$grayb: #b1b1b1;
$grayc: #919597;
$grayd: #555;
